* {
    padding: 0;
    margin: 0;
    font-family: Calibri;
    text-decoration: none;
    color:white;
    list-style: none;
}

.navabar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(22, 22, 45);
    
}

.navabar img {
    width: 80px;
    height: 80px;
    margin-left: 40px
    
}

li {
    display: inline;
    margin-right: 80px;
    font-weight: 800;
    
}
li a{
    color: white;
}
li:hover{
    background-color: orange;
    font-size: 18px;
    transition-duration: 0.2s;
    
}

.contact-section{
    padding-top: 20px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(22, 22, 45);
    border-radius: 10px;
    height: 300px;
    width: 280px;
}
.info{
    padding-top: 10px;
}

h3{
    margin-left: 7px;
}
form{
    display: block;
    justify-items: center;
}

.button button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(106, 58, 228);
    margin-top: 20px;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    font-weight: 800;
}

button:hover{
    background-color: rgb(30, 226, 72);
}