* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* header part of website */
.header {
    display: flex;
    justify-content: space-between;
    color: rgb(98, 85, 85);
    border-bottom: 2px solid rgb(192, 166, 166);
}

.call-info img {
    height: 18px;
    width: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.call-info h3 {
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}

.call-info h2 {
    margin-top: 25px;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}

.call-info {
    display: flex;
    justify-content: start;
}


.order-details h3 {
    margin-top: 30px;
    margin-right: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}

.order-details h2 {
    margin-top: 25px;
    margin-right: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}

.order-details {
    display: flex;
    justify-content: start;
}


.order-details img {
    height: 20px;
    width: 20px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/*  style for navbar */

.logo-section {
    height: auto;
    width: auto;
    display: flex;
    justify-content: start;
}

.logo img {
    width: 200px;
    height: 200px;
}

.search {
    margin-top: 85px;
    margin-left: 100px;
    margin-right: 50px;
}

.search input[type=text] {
    width: 800px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    background-image: url(search.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding: 4px 15px 5px 45px;
}

.search img{
    margin-left: 30px;
    height: 35px;
    width: 35px;
}